.app-layout {
  gap: 3rem;
  display: flex;
}

.app-cropper {
  width: 30rem;
  flex-grow: 0;
  flex-shrink: 0;
}

.app-examples {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: space-between;
  row-gap: 1rem;
}

.app-examples img {
  flex: 0 0 calc(33% - 0.33rem);
  width: 33%;

  border: 3px solid transparent;
  background-clip: padding-box;
  padding: 1px;
  background-color: transparent;
}

.app-examples img.selected {
  border-color: whitesmoke;
}

.app-cropped-images {
  display: flex;
  flex-flow: column wrap;
  gap: 1rem;
  align-items: center;
  height: 32rem;
}
